# Opcional si quieres usar dominio custom en CloudFront
DOMAIN_NAME=crcancinosandbox.click
HOSTED_ZONE_NAME=crcancinosandbox.click
# HOSTED_ZONE_ID=ZXXXXXXXXXXXX
# CERTIFICATE_ARN=arn:aws:acm:us-east-1:123456789012:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
